*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
    min-height:100vh;
}

.hidden{
    display:none;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content{
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero-content p{
    margin-bottom:20px;
    font-size:1.2rem;
}

button{
    background:#27ae60;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    opacity:0.9;
}

.card{
    max-width:600px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
}

ul{
    margin-top:15px;
}

li{
    padding:5px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#4f46e5;
    color:white;
}

.lunch{
    background:#ffeaa7;
    font-weight:bold;
}